.footer-container *{
    margin: 0;
    padding: 0;
}
.footer-container{
    position: relative;
    margin-top: auto;
    width: 100%;
    font-size: 16px;
}
.footer-wave{
    position: relative;
    top: 15px;
    z-index: -1;
}
.footer-inner{
    margin-top: auto;
    display: block;
    width: 100%;
    background-color: #1360EF;
    color: white;
    /* text-align: center; */
}
.footer-nav{
    margin: auto;
}
.footer-nav li{
    list-style: none;
    margin: 8px 0;
}
.footer-nav li *{
    text-decoration: none;
    font-weight: 500;
    color: white;
}
.footer-card{
    width: 280px;
    padding: 20px;
    background-color: #2A6CE3;
    border-radius: 10px;
}
.footer-card *{
    width: 100%;
}
.footer-icon *{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.Footer-logo{
    width: 250px;
    margin: 15px 0;
    overflow: hidden;
}
.Footer-logo img{
    width: 100%;
}