.App{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1{
    font-size: 3.5rem;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-weight: 700;
}
p{
    font-weight: 400;
}
.special-text{
    color: #1360EF;
}
.special-bg{
    background-color: #1360EF;
}